doctype html
html(lang="en")
    head 
        title=title
        link(rel="stylesheet" href="css/style.css")    
    body 
        .page-wrapper 
            div(class="header")   
                a(href="/" class="header-link") my application
            block content